body {
  margin: 10px;
  padding: 0;
}

.container {
  background-color: lightcyan;
  font-size: 30px;
  margin: 40px;
  width: 700px;
  height: 600px;

  /* CSS GRID */
  display: grid;
  grid-template-columns: 125px 200px 125px;
  grid-template-rows: 250px 100px;
  gap: 50px;

  /* Aligning tracks inside container horizontally */
  justify-content: center;

  /* Aligning tracks inside container vertically */
  align-content: center;

  /* Aligning items inside cells: moving items around inside cells */

  /* horizontally */
  justify-items: center;

  /* verically */
  align-items: center;
}

.box {
  color: black;
  text-transform: uppercase;
  font-family: sans-serif;
}

.box-1 {
  background-color: blueviolet;
}

.box-2 {
  background-color: orangered;
}

.box-3 {
  background-color: green;
  height: 150px;

  /* Overide */
  /* horizontally */
  justify-self: end;

  /* vertically */
  align-self: end;
}

.box-4 {
  background-color: goldenrod;
}

.box-5 {
  background-color: palevioletred;
}

.box-6 {
  background-color: steelblue;
}

.box-7 {
  background-color: yellow;
}

.box-8 {
  background-color: crimson;
}
